
.card-container {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}

.card-header {
    color: #333;
    text-align: center;
}

.card-body {
    margin-top: 20px;
}


.card-body h3 {
    color: #007bff; 
}

.card-body p {
    color: #666;
}

.card-body h5 {
    color: #555;
}

.card-body img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
