/* Estilos generales */
.card-container {
    max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}

.card-header {
    color: #333;
    text-align: center;
}

.card-body {
    margin-top: 20px;
}

/* Estilos para el precio */
.card-body h3 {
    color: #007bff; /* Cambia el color según tu preferencia */
}

/* Estilos para la descripción */
.card-body p {
    color: #666;
}

/* Estilos para la categoría */
.card-body h5 {
    color: #555;
}

/* Estilos para la imagen */
.card-body img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
